%h1{:class => "mast_head"} Experimental College
%p{:class => "info_box"} Experimental College (ExCo) is a student-run organization that sponsors courses taught by members of the Oberlin community: faculty, students, administrators, and residents. Each year ExCo offers a list of subjects not found in the regular curriculum. These courses often reflect the current academic, cultural, social, political, and intellectual trends of the Oberlin community. Students may earn from one to three credit hours for an ExCo course and may receive up to five hours of credit toward graduation from ExCo courses. However, these credits do not satisfy any distribution, cultural diversity, or other requirement.
%p{:class => "info_box"}
    Instructor Forms:
    %a.link{:href => "link.pdf"} Form 1
    %a.link{:href => "link.pdf"} Form 2
