.row
  .span7
    .page-header
      %h1 Oberlin ExCo
    %p
      %strong The Experimental College
      is both a student organization and a department of the college that
      sponsors for-credit courses taught by Oberlin students, administrators,
      townspeople, and faculty. ExCo supplements the regular curriculum by
      offering classes not typically available in traditional courses of
      study. These courses reflect the current academic, cultural, social,
      political, and intellectual trends of the Oberlin community.
    %p
      You might sign up for such academic courses as Korean language study or an
      introduction to Japanese cinema, or take a nontraditional class on the
      fundamentals of rock climbing, community organizing, knitting, Taiko
      drumming, or swing dance. As far as we know, no one has offered a course in
      underwater basket weaving. You can be the first. You may earn from one to
      three credit hours for an ExCo course, and you may apply up to five ExCo
      credits toward the 112 credit hours required for graduation.
    .well
      %h3 Fall 2014 Office Hours
      %table.table
        %tr
          %th Monday
          %td 2-3 p.m.
          %td Anna
        %tr
          %th Tuesday
          %td 4-5 p.m.
          %td Sara
        %tr
          %th Wednesday
          %td 4-5 p.m.
          %td Emily
        %tr
          %th Thursday
          %td 11-noon
          %td Emily
        %tr
          %th
          %td 7-8 p.m.
          %td Sara
        %tr
          %th Friday
          %td by appointment
          %td
        %tr
          %th Saturday
          %td by appointment
          %td
        %tr
          %th Sunday
          %td 3-4 p.m.
          %td Anna

      %h4 All office hours are subject to change.

  .span5
    %h2 Current ExCos
    = render :partial => "excos/mini_table"
