- excos_by_offered = @excos.group_by {|e| e.offered}
- excos_by_offered.each do |offered, excos|
  %h3= offered
  %table.table.table-striped
    %tr
      %th Name
      %th Instructor
    - excos.each do |exco|
      %tr
        %td= link_to exco.name, exco
        %td= (exco.instructors.map{|i| i.name} + (exco.instructed_by.blank? ? [] :  [exco.instructed_by])).join(", ")
