%h1#excos_title ExCos

- @excos.each do |exco|
  .exco_container
    .exco_header
      %a.exco_name= exco.name
      Course number:
      %a.exco_header_info= exco.course_number
      Enrollment limit:
      %a.exco_header_info= exco.enrollment_limit
    %p.exco_description= exco.description



