// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info_box {
    padding: 8px;
    width: 75%;
           margin-left: auto;
           margin-right: auto;
}

.mast_head {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: black;
    font-family: helvetica;
width: 75%;
       margin-left: auto;
       margin-right: auto;
}

.link {
    display: block;
}

.background {
    background-color: white;
    box-shadow: -5px 5px 10px #888;
    padding: 5px;
}

