<%# this is meant to work with Bootstrap, but has NOT been tested %>
<%# TODO make sure this works with Bootstrap %>

<%# this code comes from the Bootstrap part of %>
<%# http://railsapps.github.com/rails-default-application-layout.html %>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
